<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="Framework.Hybrid.TestScripts.HomePageTest"/>
      <class name="Framework.Hybrid.TestScripts.ExcelEx"/>
      <class name="Framework.Hybrid.TestScripts.TestLibMercury"/>
      <class name="Framework.Hybrid.TestScripts.AppTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
